{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "runtime": "automatic"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ],
    ["@babel/env", { "modules": false }]
  ]
}
